@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bodyBackground: #fff7f4;
    --shadow: #776d5b
}

body {background-color: #957DAD;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='%23957DAD' cx='50' cy='0' r='50'/%3E%3Cg fill='%239a82af' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a087b1' cx='50' cy='100' r='50'/%3E%3Cg fill='%23a58cb3' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23aa91b5' cx='50' cy='200' r='50'/%3E%3Cg fill='%23b096b7' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b59ab8' cx='50' cy='300' r='50'/%3E%3Cg fill='%23ba9fba' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bfa4bc' cx='50' cy='400' r='50'/%3E%3Cg fill='%23c5a9be' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23caaec0' cx='50' cy='500' r='50'/%3E%3Cg fill='%23cfb3c2' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d5b8c4' cx='50' cy='600' r='50'/%3E%3Cg fill='%23dabdc6' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dfc2c8' cx='50' cy='700' r='50'/%3E%3Cg fill='%23e5c7ca' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23eacbcb' cx='50' cy='800' r='50'/%3E%3Cg fill='%23efd0cd' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f4d5cf' cx='50' cy='900' r='50'/%3E%3Cg fill='%23fadad1' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FFDFD3' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    font-family: 'Montserrat', sans-serif;
}
.imags {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-gap: 20px;
	padding: 20px;
    text-align: center;
    
}
#Sec1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
#Sec1 h1{
    font-size: 82px;
    background: rgba(255, 255, 255, 0.3);
    color: #917ba8;
    border-radius: 50%;
    padding: 20px;

}
#text_,#count{
      font-size: 20px;
      padding: 5px;
}
#srch{
    width: 200px;
color: white;
background-color: #b3779f;
font-size: 20px;
border-radius: 15px;
padding: 5px;
}
.singlePhoto {
    flex: 0 0 28.333%;
    background-color: var(--bodyBackground);
    padding-bottom: 1rem;
    box-shadow: 0 5px 10px 0 var(--shadow);
    border-radius: 15px;
}
.myPhoto {
    width: fit-content;
    width: 100%;
    height: 200px;
}

.myPhoto img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.username span:nth-child(1) {
    font-size: 1rem;
    font-weight: bold;
}

.username {
    padding: 1rem;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.likesAndDownloads {
    display: flex;
    align-items: center;
}

.likesAndDownloads span {
    margin-left: 0.5rem;
}